name: build-deploy-pipeline
on:
 push:
  branches: [main]
jobs:
  my-job:
    runs-on: ubuntu-latest
    env:
     ssh-private-key: ${{ secrets.ssh}}
    steps:
      - name: checked code
        uses: actions/checkout@v3
      - name: create directory
        run: mkdir -p ~/.ssh
      - name: Move the private key into the directory
        run: echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
      - name: assign the permission to this directory
        run: chmod 666 ~/.ssh/id_rsa

      - name: connect to vm
        run: ssh -i ~/.ssh/id_rsa azureuser@20.48.186.93
      - name: Display the message
        run: echo "successfully connected to vm"
