name: build-deploy-pipeline
on:
 push:
  branches: [main]
jobs:
  my-job:
    runs-on: ubuntu-latest
    env:
     SSH_PRIVATE_KEY: ${{ secrets.ssh }}
    steps:
      - name: checked code
        uses: actions/checkout@v3

      - name: create directory
        run: mkdir -p ~/.ssh

      - name: Move the private key into the directory
        run: echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa

      - name: assign the permission to this directory
        run: chmod 600 ~/.ssh/id_rsa

      - name: add host to known hosts
        run: ssh-keyscan -H 20.48.186.93 >> ~/.ssh/known_hosts

      - name: connect to vm
        run: ssh -i ~/.ssh/id_rsa azureuser@20.48.186.93 

      - name: Display the message
        run: uname -a
      - name: clone the project
        run: git clone https://github.com/muzammil-hue/Node-Express-Basic-Application.git
      - name: install dependencies
        run: npm install
      - name: build the project
        run: npm run build 

