name: hello-world-pipeline
on: push
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: step1
        run: echo "Hello World!"
      - name: step2
        run: mkdir project1
      - name: step3
        run: grep "hello world"
